/* General Styles */
body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

/* Main Content */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Card Styling */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  width: 284px; /* Increased width to make the card larger */
  text-align: center;
  padding: 15px; /* Increased padding for more spacious content */
  min-height: 450px;
}

/* QR Code Styling */
.qr-code img {
  width: 100%;
  border-radius: 10px;
}

/* Text Content Styling */
.text-content {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.text-content h1 {
  font-size: 22px; /* Increased font size for heading */
  color: hsl(218, 44%, 22%);
  margin-bottom: 15px;
  font-weight: 700;
}

.text-content p {
  font-size: 15px; /* Increased font size for paragraph */
  color: hsl(216, 15%, 48%);
  font-weight: 400;
}

/* Attribution Styling */
footer {
  text-align: center;
  margin-top: 30px;
}

.attribution {
  font-size: 13px; /* Slightly increased font size for attribution */
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: 700; /* Makes the links distinguishable without relying on color */
}
